.imgheader{
	background: url(../Stadion.jpg);
	background-size: cover ;
	height: 600px;

}
.full {
  background: url(../img/Stadium.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
nav{
	position: absolute;
}
.labelsearch{
	margin-top: 20px;
}

nav:hover{
	background-color: grey;
}
